<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <div> <h1>Create a Basketball Team!</h1> </div>
    <div>
<form method="POST" action="/team"></form>
  <label for="teamname">Team Name:</label><br>
  <input type="text" id="Tname" name="Tname"><br>
  
  <label for="coach">Coach:</label><br>
  <input type="text" id="coach" name="coach"><br>
  
  
  <label for="coach">Point Guard:</label><br>
  <input type="text" id="coach" name="pg"><br>
  
  <label for="coach">Shooting Guard:</label><br>
  <input type="text" id="coach" name="sg"><br>
  
  <label for="coach">Small Forward:</label><br>
  <input type="text" id="coach" name="sf"><br>
  
  <label for="coach">Power Forward:</label><br>
  <input type="text" id="coach" name="pf"><br>
  
  <label for="coach">Center:</label><br>
  <input type="text" id="coach" name="c">
  <div><br>
  <input id="Submit" type="submit" value="submit">
  </div>
</form>
</div>
   
   
 </body>
</html>


